@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 204 88% 94%;
    --foreground: 224 71% 14%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 14%;
    --primary: 207 90% 68%;
    --primary-foreground: 224 71% 14%;
    --secondary: 204 50% 90%;
    --secondary-foreground: 224 71% 14%;
    --muted: 204 50% 90%;
    --muted-foreground: 226 44% 40%;
    --accent: 288 47% 71%;
    --accent-foreground: 224 71% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 50% 86%;
    --input: 204 50% 86%;
    --ring: 207 90% 68%;
    --chart-1: 207 90% 68%;
    --chart-2: 288 47% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 14%;
    --sidebar-primary: 207 90% 68%;
    --sidebar-primary-foreground: 224 71% 14%;
    --sidebar-accent: 204 88% 94%;
    --sidebar-accent-foreground: 224 71% 14%;
    --sidebar-border: 204 50% 86%;
    --sidebar-ring: 207 90% 68%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 68%;
    --primary-foreground: 224 71% 14%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 288 47% 71%;
    --accent-foreground: 224 71% 14%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 90% 68%;
    --chart-1: 207 90% 68%;
    --chart-2: 288 47% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 68%;
    --sidebar-primary-foreground: 224 71% 14%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 207 90% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
